@{
    ViewData["Title"] = "Home Page";
}

<div class="d-inline-flex align-content-start">
    <img src="~/images/ChefSplash.png" alt="Chef Splash" width="250" height="250" />
</div>
<div class="text-center">
    
    <div class="container">
        <div class="row">
            

                
                    <div class="col-sm-4">
                        <img src="~/images/PantryIcon.png" alt="Pantry Button" width"25%" height="25%"/>
                        <a class="btn btn-primary btn-lg btn-block" asp-controller="Ingredients" asp-action="Index">My Pantry</a>
                    </div>
                    <div class="col-sm-4">
                        <img src="~/images/MenuIcon.png" alt="Menu Button" width"25%" height="25%" />
                             
                        <a class="btn btn-danger btn-lg btn-block" asp-controller="Recipes" asp-action="Index">My Menu</a>
                    </div>
                    <div class="col-sm-4">
                        <img src="~/images/ListIcon.png" alt="List Button" width"25%" height="25%" />
                             
                        <a class="btn btn-warning btn-lg btn-block" asp-controller="GroceryLists" asp-action="Index">My List</a>
                    </div>
               
            
        </div>
    </div>
    
</div>
