@model IEnumerable<Sous_Cloud_Pantry_V2.models.Ingredient>

@{
    ViewData["Title"] = "Index";
}

<h1>My Pantry</h1>

<p>
    <a asp-action="Create"> Add Item +</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Items:
            </th>


        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IngredientName)
                </td>


                <td>
                    <a asp-action="Edit" asp-route-id="@item.IngredientId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.IngredientId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.IngredientId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
