
@model IEnumerable<Sous_Cloud_Pantry_V2.models.Recipe>

@{
    ViewData["Title"] = "Menu Items";
}

<h1>@Model.ToArray()[0].Title</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Ingredient List:
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IngredientList)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="item.RecipeId">Details</a>
                </td>

            </tr>
        }
    </tbody>
</table>


<div>
    <a class="btn btn-primary"  asp-action="Add" asp-route-id="@Model.ToArray()[0].Title">Add Ingredient</a> 
    <a asp-action="Index">Back to List</a>
</div>

